.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.loading span{
    animation-name: rotor;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes rotor{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}